.navbar {
    width: 150px;
    padding-top: 15px;
}

.navbar a {
    font-size: 16px;
    padding: 12px;
}

.content {
    margin-left: 170px;
    padding: 15px;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 17px;
}